# For a complete list of core environment variables see
# https://docs.silverstripe.org/en/4/getting_started/environment_management/#core-environment-variables

# DB credentials
SS_ENVIRONMENT_TYPE="dev"
SS_DATABASE_CLASS="MySQLPDODatabase"
SS_DATABASE_SERVER="db"
SS_DATABASE_USERNAME="root"
SS_DATABASE_PASSWORD="root"
SS_DATABASE_PORT="3306"
SS_DATABASE_NAME="telly"
SS_DEFAULT_ADMIN_USERNAME="root"
SS_DEFAULT_ADMIN_PASSWORD="root"